<link rel="stylesheet" href="/stylesheets/not-found.css">

<div class="not-found-container">
  <div class="container">
    <div class="not-found-content">
      <h1>404</h1>
      <h2>Page Not Found</h2>
      <p>The movie you're looking for doesn't exist or has been removed.</p>
      <a href="/movies" class="btn">Return to Movies</a>
    </div>
  </div>
</div>